@using Models
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="bookContainer">
    <img src="@book.ImageUrl" width="200" />
    <p>@book.Name</p>
    <p>@book.Author</p>
    <p>@book.Price</p>
    <a href="/books/@book.Id">Product Page</a>
    <button @onclick='() => SaveBook(book.Name)'>Add to cart</button>
    <p>@_status</p>
</div>

@code {
    [Parameter]
    public required Book book { get; set; }
    private string? _status;

    private async Task SaveBook(string name)
    {
        await localStorage.SetItemAsync("ID", book.Id);
        _status = "Book added to cart!";
    }
}
