@using Models
@using Frontend.Components.Pages.UIComponents

<article class="cartItem">
    <a href="/movies/@Movie.Id">
        <img src="@Movie.ImageUrl" alt="Movie cover for @Movie.Title" width="200">
    </a>    

    <section class="itemInfo">
        <h3 class="title">@Movie.Title</h3>
        <p class="actors">@string.Join(", ", @Movie.Actors)</p>
        <p class="price">$@Movie.Price</p>
        <AddRemove MovieId=Movie.Id Cart=Cart OnCartUpdated="OnCartUpdated" />
    </section>
</article>

@code {
    [Parameter] public required Movie Movie { get; set; }
    [Parameter] public required List<int> Cart { get; set; }
    [Parameter] public EventCallback<List<int>> OnCartUpdated { get; set; }
}
