@page "/confirmation"
@using Models
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@rendermode InteractiveServer

<h3>Confirmation</h3>

<p><strong>First Name:</strong> @firstName</p>
<p><strong>Last Name:</strong> @lastName</p>
<p><strong>Email:</strong> @email</p>
<p><strong>Phone Number:</strong> @phone</p>
<p><strong>City:</strong> @city</p>
<p><strong>Street Address:</strong> @street</p>
<p><strong>ZIP Code:</strong> @zipCode</p>

@code {
    private string? firstName;
    private string? lastName;
    private string? email;
    private string? phone;
    private string? city;
    private string? street;
    private string? zipCode;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var checkoutData = await localStorage.GetItemAsync<Checkout>("checkoutData");

            if (checkoutData != null)
            {
                firstName = checkoutData.FirstName;
                lastName = checkoutData.LastName;
                email = checkoutData.Email;
                phone = checkoutData.Phone;
                city = checkoutData.City;
                street = checkoutData.Street;
                zipCode = checkoutData.ZipCode;

                StateHasChanged();
            }
        }
    }
}
