@page "/movies/{id:int}"
@using Models
@using Frontend.Components.Pages.UIComponents
@inject Frontend.Services.MoviesService moviesService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@rendermode InteractiveServer

<PageTitle>Movie Details</PageTitle>

@if (_movie == null)
{
    <Loading />
}
else
{
    <article class="movieDetailsContainer">

        <div class="movieImage">
            <img src="@_movie.ImageUrl" alt="Poster image for @_movie.Title">
        </div>

        <div class="movieDetails">

            <header>
                <h1>@_movie.Title</h1>
            </header>
            
            <br />

            <dl>
                <dt>Director</dt>
                <dd>@_movie.Director</dd>

                <dt>Writers</dt>
                <dd>@string.Join(", ", _movie.Writers)</dd>

                <dt>Actors</dt>
                <dd>@string.Join(", ", _movie.Actors)</dd>

                <dt>Story</dt>
                <dd>@_movie.Description</dd>

                <dt>Release Year</dt>
                <dd>@_movie.ReleaseYear</dd>

                <dt>Length</dt>
                <dd>@_movie.Length min</dd>

                <dt>Rating</dt>
                <dd><span class="ratingColor">@_movie.Rating</span></dd>
            </dl>

            <br />

            <p class="moviePrice">$@_movie.Price</p>
            <br />

            <AddRemove MovieId=_movie.Id Cart=_cart />

        </div>

    </article>
}

@code {
    [Parameter] public int id { get; set; }

    private Movie? _movie;
    private List<int> _cart = new();

    protected override async Task OnInitializedAsync()
    {
        _movie = await moviesService.GetMovieAsync(id);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            _cart = await localStorage.GetItemAsync<List<int>>("cart") ?? new List<int>();
            StateHasChanged();
        };
    }
}
