@page "/movies/{id:int}"
@using Models
@using Frontend.Components.Pages.UIComponents
@inject Frontend.Services.MoviesService moviesService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@rendermode InteractiveServer

@if (_movie == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="movieDetailsContainer">

        <div class="movieImage">
            <img src="@_movie.ImageUrl" />
        </div>

        <div class="movieDetails">
            <h1>@_movie.Title</h1>
            <p>Director: @_movie.Director</p>
            <p>Writers: @string.Join(", ", _movie.Writers)</p>
            <p>Actors: @string.Join(", ", _movie.Actors)</p>
            <p>Description: @_movie.Description</p>
            <p>Release Year: @_movie.ReleaseYear</p>
            <p>Length: @_movie.Length</p>
            <p>Rating: @_movie.Rating</p>
            <p>Price: $@_movie.Price</p>
            <AddRemove MovieId=_movie.Id Cart=_cart Setting="add" />
            <AddRemove MovieId=_movie.Id Cart=_cart Setting="remove" />
        </div>

    </div>    
}

@code {
    [Parameter] public int id { get; set; }

    private Movie? _movie;
    private List<int> _cart = new();

    protected override async Task OnInitializedAsync()
    {
        _movie = await moviesService.GetMovieAsync(id);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            _cart = await localStorage.GetItemAsync<List<int>>("cart") ?? new List<int>();
            StateHasChanged();
        };
    }
}
